body{
    background-color: rgb(34, 34, 34);
}

header{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.safe{
    width: 150px;
    height: 100px;
}

.mnuPricipal ul{
    list-style-type: none;
    padding: 0;
}

.mnuPricipal ul{
    background-color: yellow;
    padding: 20px;
    padding-right: 40px;
    text-align: right;
}

.mnuPricipal ul li {
    display: inline-block;
}

.mnuPricipal ul li a{
    color: black;
    text-decoration: none;
    padding: 18px;
    font-size: 16px;
    position: relative;
}

.mnuPricipal ul li a:hover{
    color: black;
    border-radius: 18px;
    border: 2px solid rgb(0,84,231);
}

.h1{
    display: flex;
    justify-content: center;
    color: rgb(6, 6, 222);
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.form1{
    display: inline-block;
    padding: 64px;
    font-size: 20px;
    border-radius: 15px;
    background-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 25%;
    left: 12%;
    margin-right: 5px;
    

}
.form2{
    display: inline-block;
    padding: 45px;
    font-size: 19px;
    border-radius: 15px;
    background-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 25%;
    left: 50%;
}

