* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body{
    background-color: rgb(34,34,34); /*cor de fundo*/
    /*background-image: url(../components/imagens/fundo.jpg);*/
}

header{ /*cabeçalho da pagina*/
    background-color: #ffff00;
    display: flex;/*posicao do cabeçalho*/
    flex-direction: row; /*vai deixa como uma linha*/
    justify-content: center; /*vai separ as "div"*/
    align-items: center;
    padding: 10px;

}

.safe{
    width: 150px;
    height: 100px;
}


h1{
    background-color: #ffff00;
    margin:5px;
    padding: 10px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    color: rgb(6, 6, 222);
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

table{
    background-color: #ffff00;
    padding: 10px;
    border-radius: 18px;

    color: rgb(6, 6, 222);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;

    font-size: 20px;

}

th{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px 5px;
    border-radius: 18px;
    border: 2px solid rgb(6, 6, 222);


}

td{
    margin: 10px;
    padding: 10px 10px;
    width: 50%;
}

td:hover{
    border-radius: 18px;
    /* border: 2px solid rgb(6, 6, 222); */
    background-color: blue;
    color: white;


}