body{
    background-color: rgb(34,34,34);
}

.container{
     background: #ffff00;
     text-align: center;
     padding: 20px;
     border-radius: 10px;
     padding-bottom: 6%;

}

.mnuPrincipal ul{
    list-style-type: none;
    padding: 0;
}

.mnuPrincipal ul{ /*menu*/
    background-color: #ffff00;
    display: inline-block;
    padding-right: 40px;
    text-align: right;


}

main{ /*vai deixa o texto e a imagem uma do lado da outra*/
    display: flex;
    flex-direction: row;
    margin-top: 25px; /*margem de cima*/
    padding: 5px;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}


.safe{
    margin-left: 25px;
    width: 250px;

}

div{
    margin-top: 10px;
    padding: 5px;
    align-items: center;

}

h1{
    text-align: center;
    font-size: 45px;
    line-height: 25px;
    margin: 20px;
    color: rgb(0, 84, 231);
}


.usr{
    color: red;
    padding: 22px;
    font-size: 20px;
    display: inline-block;

    /*background-color: black;*/
    border-radius: 18px;
    border: 2px solid rgb(0, 84, 231);
    text-decoration: none;

}


.n_tab{
    color:white;
    padding: 18px;
    font-size: 16px;

}
.n_tab th{

    padding: 8px;
    border: 2px solid rgb(0, 84, 231);
    background-color: rgb(34,34,34);
}

button{
    background-color: red;
    color:white;
    border-radius: 18px;
    border: 2px solid rgb(0, 84, 231);
    font-size: 15px;
    padding: 5px;

}
.upd{
    background-color: green;
    color:white;
    border-radius: 18px;
    border: 2px solid rgb(0, 84, 231);
    font-size: 15px;
    padding: 5px;


}

.btn{
   /* background-color: white;*/
    padding: 2px;


 }
 .btn button{
    margin-right: 50px;
    text-align: right;

 }
 .btn .upd{
     margin-left: 50px;
     text-align: left;

  }


