body{
    background-color: rgb(34,34,34); /*cor de fundo*/
    /*background-image: url(../components/imagens/fundo.jpg);*/
}

header{ /*cabeçalho da pagina*/
    background-color: #ffff00;
    display: flex;/*posicao do cabeçalho*/
    flex-direction: row; /*vai deixa como uma linha*/
    justify-content: space-between; /*vai separ as "div"*/
    align-items: center;
    

}

.safe{
    width: 150px;
    height: 100px;
}


.mnuPrincipal ul{
    list-style-type: none;
    padding: 0;
}

.mnuPrincipal ul{ /*menu*/
    background-color: #ffff00;
    padding: 20px;
    padding-right: 40px;
    text-align: right;
      
    
}

.mnuPrincipal ul li{
    display: inline-block;
    
}

.mnuPrincipal ul li a{
    color: black;    
    text-decoration: none;
    padding: 18px;
    font-size: 16px;
    position: relative;
}


.mnuPrincipal ul li a:hover {
    color: black; /*fonte para muda de cor*/
    border-radius: 18px;
    border: 2px solid rgb(0, 84, 231);
    /*transition: 0.3s all;*/
   /* background-color: blue;*/
    
  }


  
  #inscreva-se-btn{ /*botao incriva-se*/
    color: white;
    padding: 18px;
    background-color: black;
    border-radius: 18px;

    
}
#inscreva-se-btn:hover{
    color: white;
    background-color: rgb(0, 84, 231);
    /*border: 2px solid rgb(0, 84, 231);*/
}


main{ /*vai deixa o texto e a imagem uma do lado da outra*/
    display: flex;
    flex-direction: row;
    margin-top: 25px; /*margem de cima*/
    padding: 5px;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
h2{
    color: white;
    font-size: 60px;
    line-height: 50px;
    font-family: poppinsmedium;
}

span{
    color: rgb(0,84,231); /*cor do increva-se*/
    margin-right: 200px;
    
}



p{
    color: white;
    line-height: 15px;
    max-width: 400px;
    font-family: poppinslight;
}

img{
    width: 800px;
    margin-left: 55px; /*espaçamento do texto da imagem*/
    
}

form{
    display: flex;
    flex-direction: column;
    
        
}

.safeZ{
    width: 85%;
    /*padding-top: 5px;*/
    padding-bottom: 120px;
    padding-right: 50px;
    
}
#caixa{
    border: 2px solid #ffff00;
    max-width: 75%;
}
#enviar1, #enviar2{
    height: 40px;
    width: 50%;
    background-color: rgb(0, 84, 231);
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius:20px;
}

a{
    text-decoration: none;
    color: #fff;
    padding-top:15px;
    margin-top:2%;
}

#enviar1:hover{
    background-color: rgb(13, 64, 151);
    border: 1px solid #fff;
    color: white;
    
}
#enviar2:hover{
    background-color: rgb(13, 64, 151);
    border: 1px solid #fff;
    color: white;

}








